<strong>Olá, {{ deliveryman }}</strong>
<p>Atenção! Sua entrega foi cancelada pela distribuidora.</p>
<p>
  <strong>Encomenda: {{ order }}</strong><br />
  <strong>Motivo: {{ problem }}</strong><br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>Em breve informaremos os próximos procedimentos da ocorrência. Em caso de dúvidas, por favor, entrar em contato com o suporte da FastFeed</small>
</p>
