<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega!</p>
<p>
  <strong>Encomenda: </strong>#{{ order }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong>{{ address }}<br />
  <br />
  <small>Sua entrega está disponível para retirada a partir de hoje, das 8h00 às 18h00. Em caso de dúvidas, por favor, entrar em contato com o suporte da FastFeed</small>
</p>
